
<html>
<head>
    <meta type="utf-8">
    <title>首页</title>
    <script src="/static/jquery/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#get_code").click(function(){
            $.ajax("/get_invide_code/",function(data){
                $("#invidecode").text(data);
            });
        }

        );
    });
    </script>
</head>
   
<body>
    <h1>Hello, World! </h1><a href="/logout/">登出</a>
    <div id="invidecode"></div> <button id="get_code">获取邀请码</button>
</body>


</html>