<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">


    <title>注册</title>

    <link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/sign.css" rel="stylesheet">
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/layer/layer.js"></script>
    <script>
        $(document).ready(function(){
        $("#submit").click(function(){
            console.log('1');
            $.post("/sign/",{"email":$("#inputEmail").val(),
                             "password":$("#inputPassword").val(),
                             "code":$("#invite").val(),
                             "_xsrf":$("input[name='_xsrf']").val()},
                  function(data){
                if (data.status=="success"){
                    window.location.href = data.url;
                }else{layer.msg(data.status);}
                
            });
        });
        });
      </script>
  </head>

  <body>

    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">注册</h2>
        {% module xsrf_form_html() %}
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="输入您的邮箱" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="输入您的密码" name="password" required>
        <label for="inputPassword" class="sr-only">rePassword</label>
        <input type="password" id="inputrePassword" class="form-control" placeholder="再次输入您的密码" name="repassword" required>
        <label for="invite" class="sr-only">invite</label>
        <input type="text" id="invite" class="form-control" placeholder="输入您的邀请码" name="invite" required>
        <button class="btn btn-lg btn-primary btn-block" id="submit" type="button">注册</button>
        <a href="/login/">已有账号？点击登陆</a>
      </form>

    </div> 

  </body>
</html>
